
.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: hsl(193, 95%, 68%);
}

a:hover {
    color: hsl(193, 95%, 43%);
}

body {
    background-color: hsl(220, 13%, 18%);
    ;
    color: white;
}

.playlist-item {
    transition: background-color ease .5s;
    padding: 1rem;
}

.playlist-item:hover {
    background-color: hsl(220, 13%, 28%);
    cursor: pointer;
}